<a href="https://colab.research.google.com/github/Waleed-Azam/1D-CNN/blob/master/Data_FishBehoviour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

#Prepare the nice data set
from sklearn.model_selection import train_test_split
# univariate cnn example
from numpy import array
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from sklearn.preprocessing import MinMaxScaler
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import numpy as np 
import matplotlib.pyplot as plt

In [2]:

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:

#4/4wFYAxkIiIcUUbdicptSHODI1k4A84cES-W4d4quPuW9N977ErMMXc4
#https://drive.google.com/file/d/1HGili9OPSFdCpIpbN7lA_i5T-s0JP-8K/view?usp=sharing
#
#https://drive.google.com/file/d/1bpYN2xKZlZSm8ym-_m8nr4vP8Lhyyge9/view?usp=sharing
downloaded = drive.CreateFile({'id':'1bpYN2xKZlZSm8ym-_m8nr4vP8Lhyyge9'})

In [4]:
#Importing all the libraries
import numpy as np
import numpy as geek 
from keras.layers import Input, Dense, LSTM, multiply, concatenate, Activation, Masking, Reshape
from keras.models import Sequential
from keras.models import Model
from keras.layers import Input, Dense, LSTM, multiply, concatenate, Activation, Masking, Reshape
from keras.layers import BatchNormalization, GlobalAveragePooling1D, Permute, Dropout
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.optimizers import RMSprop, Adam
from keras.layers import LSTM, Activation 
from sklearn.preprocessing import MinMaxScaler
from keras.models import load_model
import pandas as pd
downloaded.GetContentFile('Pos-01.csv')
#df1 = pd.read_csv('Test_17_sea.csv') 
df3 = pd.read_csv('Pos-01.csv') 
#df2 = pd.read_csv('Master_thesis_Data.csv')
#df3

In [5]:
df3

           North      East      Down      Vel-N     Vel-E     Vel-D
0       16.29930  -8.36505  13.859400 -0.117900  0.053349  0.004169
1      -12.90380 -14.47000  14.829600 -0.065082  0.089329  0.016532
2       13.55190 -10.93470   8.611660 -0.065598 -0.174985 -0.043122
3       -8.92914  16.26870  15.704100  0.080352  0.092642  0.052840
4       -5.02281  -2.22254  20.048100 -0.082576  0.175662  0.037424
...          ...       ...        ...       ...       ...       ...
169995   7.34978   3.18424   1.622300  0.005804 -0.185846 -0.084898
169996  12.53270 -16.62660   8.952580 -0.125097 -0.036163 -0.019953
169997  16.75730 -11.27980  12.353300 -0.092896 -0.119039  0.035115
169998  23.39030   7.29070   0.995557  0.038640 -0.171634  0.017257
169999  -7.95201 -20.07340  15.320300 -0.125505  0.041591  0.018785

[170000 rows x 6 columns]